---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_17A6qjHCrQkfMpMYhLLB8Nvg&email=invitee%40example.com&plan=myflix_base
    headers:
      Authorization:
      - Bearer sk_test_IJGXKw9MtY2Sx8gBuvYIwvtd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7OugDDojPM9nfF",
          "object": "customer",
          "account_balance": 0,
          "created": 1448233345,
          "currency": "usd",
          "default_source": "card_17A6qjHCrQkfMpMYhu4966UK",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "invitee@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17A6qjHCrQkfMpMYhu4966UK",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7OugDDojPM9nfF",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "BB3tXPVjt1y5XYSy",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7OugDDojPM9nfF/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7OugWqmFbIPfye",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1450825345,
                "current_period_start": 1448233345,
                "customer": "cus_7OugDDojPM9nfF",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "myflix_base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1448227432,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "myflix base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1448233345,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7OugDDojPM9nfF/subscriptions"
          }
        }
  recorded_at: Sun, 22 Nov 2015 23:02:26 GMT
recorded_with: VCR 2.9.3
