---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_1791XRHCrQkfMpMYXETlmily&currency=usd&description=MyFlix+Sign+Up+Charge+for+logan%40example.com
    headers:
      Authorization:
      - Bearer sk_test_IJGXKw9MtY2Sx8gBuvYIwvtd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1791XSHCrQkfMpMY56XZRNNn"
          }
        }
  recorded_at: Thu, 19 Nov 2015 23:10:03 GMT
recorded_with: VCR 2.9.3
