---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17As34HCrQkfMpMYy2M7Gdvf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_IJGXKw9MtY2Sx8gBuvYIwvtd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17As34HCrQkfMpMYy2M7Gdvf",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1448414778,
          "data": {
            "object": {
              "id": "ch_17As34HCrQkfMpMYzHI6J694",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_17As34HCrQkfMpMYbfIRVlxv",
              "captured": true,
              "created": 1448414778,
              "currency": "usd",
              "customer": "cus_7PhR6SWtjqoTYd",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_17As34HCrQkfMpMYn3Tvk4qY",
              "livemode": false,
              "metadata": {},
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17As34HCrQkfMpMYzHI6J694/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17As33HCrQkfMpMY47mdBmhn",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7PhR6SWtjqoTYd",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2015,
                "fingerprint": "BB3tXPVjt1y5XYSy",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7PhRpJ0aeWYYaA",
          "type": "charge.succeeded"
        }
  recorded_at: Wed, 25 Nov 2015 03:05:08 GMT
recorded_with: VCR 2.9.3
