---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=11&card[exp_year]=2016&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_IJGXKw9MtY2Sx8gBuvYIwvtd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1791XZHCrQkfMpMYBe2WcAp3",
          "object": "token",
          "card": {
            "id": "card_1791XYHCrQkfMpMYU3lrG6Nf",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "BB3tXPVjt1y5XYSy",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "52.91.75.143",
          "created": 1447974609,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 19 Nov 2015 23:10:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_1791XZHCrQkfMpMYBe2WcAp3&currency=usd&description=A+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_IJGXKw9MtY2Sx8gBuvYIwvtd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1791XZHCrQkfMpMYU5vYaEqU",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_1791XZHCrQkfMpMY4upTNzcA",
          "captured": true,
          "created": 1447974609,
          "currency": "usd",
          "customer": null,
          "description": "A valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1791XZHCrQkfMpMYU5vYaEqU/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_1791XYHCrQkfMpMYU3lrG6Nf",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "BB3tXPVjt1y5XYSy",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 19 Nov 2015 23:10:10 GMT
recorded_with: VCR 2.9.3
