---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17BYdDHCrQkfMpMY147wZibR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_IJGXKw9MtY2Sx8gBuvYIwvtd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17BYdDHCrQkfMpMY147wZibR",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1448578467,
          "data": {
            "object": {
              "id": "ch_17BYdCHCrQkfMpMYFlvvQ9AO",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1448578466,
              "currency": "usd",
              "customer": "cus_7Pi8L0ZO2FWsKN",
              "description": "fail charge",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17BYdCHCrQkfMpMYFlvvQ9AO/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17BYbbHCrQkfMpMYqO1T3xM5",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7Pi8L0ZO2FWsKN",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "Mfw2RO60TgcNghO5",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": null,
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7QPSHVTrKVPLTF",
          "type": "charge.failed"
        }
  recorded_at: Thu, 26 Nov 2015 23:20:45 GMT
recorded_with: VCR 2.9.3
