---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=11&card[exp_year]=2016&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_IJGXKw9MtY2Sx8gBuvYIwvtd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17A6qrHCrQkfMpMYRfHo0549",
          "object": "token",
          "card": {
            "id": "card_17A6qrHCrQkfMpMYqrjgKEEE",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "HUl8nu02Nrd7U8Ba",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "52.91.75.143",
          "created": 1448233353,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 22 Nov 2015 23:02:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_17A6qrHCrQkfMpMYRfHo0549&email=glennie.cain%40hauck.io&plan=myflix_base
    headers:
      Authorization:
      - Bearer sk_test_IJGXKw9MtY2Sx8gBuvYIwvtd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Sun, 22 Nov 2015 23:02:34 GMT
recorded_with: VCR 2.9.3
